{% macro avatar_table(avatars, func) %}
    <div class="avatars">
        {% for avatar in avatars: %}
            {{ func(avatar) }}
        {% endfor %}
    </tr>
{% endmacro %}

{% macro avatar_to_td_user(avatar) %}
    <div class="avatar">
        <a href="{{ avatar.owner.username }}.html"><img
            src="{{ avatar.link }}"
            alt="{{ avatar.filename }}"
        /><br>{{ avatar.owner.username }}</a>
    </div>
{% endmacro %}

{% macro avatar_to_td(avatar) %}
    <div class="avatar {{ 'enabled' if avatar.enabled else 'disabled' }}">
        <img src="{{ avatar.link }}" alt="{{ avatar.filename }}">
        <br>{{ avatar.filename }}
    </div>
{% endmacro %}

{% macro avatar_to_td2(avatar) %}
    <div class="avatar">
        <a href="{{ avatar.owner.username }}.html"><img
            src="{{ avatar.link }}"
            alt="{{ avatar.filename }}"
        /><br>{{ avatar.owner.username }}</a>
    </div>
{% endmacro %}

{% macro avatar_to_td_edit(avatar) %}
    <div id="av{{ avatar.id }}" class="avatar {{ 'enabled' if avatar.enabled else 'disabled' }}">
        <img src="{{ avatar.link }}" alt="{{ avatar.filename }}">
        <br>{{ avatar.filename }}
        <br>{{ avatar.width }} x {{ avatar.height }}
        <br><a href="delete?avatar_id={{ avatar.id }}">Delete</a>
        <br><a href="toggle?avatar_id={{ avatar.id }}" onclick="callToggle({{ avatar.id }}); return false;">Toggle use</a>
        <br>(Current: <span id="on{{ avatar.id }}">{{ "yes" if avatar.enabled else "no" }}</span>)
    </div>
{% endmacro %}
