{% extends "_standard.html" %}
{% from '_funcs.html' import avatar_table, avatar_to_td_user %}

{% block id %}gallery_list{% endblock %}
{% block article %}
<section id="navigation">
	<h3>Navigation</h3>
	<a href="/">Main Page</a> | <a href="/manual">Manual</a>
</section>

<section id="list">
	<h3>List</h3>
    <table id="gallery_list" width="200" border="1" align="center">
	    <thead><td>User</td><td>Avatars</td></thead>
	{% for username, count in user_counts: %}
		<tr><td><a href='{{ username }}.html'>{{ username }}</a></td><td>{{ count }}</td></tr>
	{% endfor %}
	</table>
</section>

<section id="new">
	<h3>New Uploads</h3>
	{{ avatar_table(new_avatars, avatar_to_td_user) }}
</section>

<section id="random">
	<h3>Random Selection</h3>
	{{ avatar_table(random_avatars, avatar_to_td_user) }}	
</section>
{% endblock %}