{% extends "_standard.html" %}
{% from '_funcs.html' import avatar_table, avatar_to_td2 %}

{% block id %}gallery{% endblock %}
{% block article %}
<section id="navigation">
	<h3>Navigation</h3>
	<a href="/">Main Page</a> | <a href="/gallery">Gallery</a>
</section>

<section id="message">
	<h3>User's Message</h3>
	{% if user.message: %}
		{{ user.message }}
	{% else: %}
		[user hasn't specified a gallery message]
	{% endif %}
</section>

<section id="stats">
	<h3>Stats</h3>
	User has {{ user.num_active_avatars }} active avatars
	({{ user.num_avatars }} total),
	<br/>mostly sized {{ user.common_size }}
</section>

<section id="avatars">
	<h3>Avatar List</h3>
	{{ avatar_table(user.avatars, avatar_to_td2) }}
</section>
{% endblock %}