{% extends "_standard.html" %}
{% from '_funcs.html' import avatar_table, avatar_to_td2 %}

{% block id %}index{% endblock %}
{% block article %}
{% if user: %}
	<section id="login">
		<h3>Logged In</h3>
		Logged in as {{ user.username }}
		<br><a href="user">Edit Avatars</a> | <a href="logout">Log Out</a>	
	</section>
{% else: %}
	<section id="login">
		<h3>Log In</h3>
		<form action="login" method="POST">
			<table id="login">
				<tr><td>Username</td><td><input type="text" name="username"></td></tr>
				<tr><td>Password</td><td><input type="password" name="password"></td></tr>
				<tr><td colspan="2"><input type="submit" value="Log In"></td></tr>
			</table>
		</form>	
	</section>

	<section id="create">
		<h3>Create Account</h3>
		<form action="create" method="POST">
			<table id="login">
				<tr><td>Username</td><td><input type="text" name="username"></td></tr>
				<tr><td>Password</td><td><input type="password" name="password1"></td></tr>
				<tr><td>Repeat</td><td><input type="password" name="password2"></td></tr>
				<tr><td>Email</td><td><input type="text" name="email"></td></tr>
				<tr><td colspan="2"><input type="submit" value="Create"></td></tr>
			</table>
		</form>
	</section>
{% endif %}

	<section id="navigation">
		<h3>Navigation</h3>
		<a href="gallery">Gallery</a> | 
		<a href="manual">Manual</a>
	</section>

	<section id="examples">
		<h3>Examples</h3>
		{{ avatar_table(avatars, avatar_to_td2) }}
	</section>
{% endblock %}
