{% extends "_standard.html" %}
{% from '_funcs.html' import avatar_table %}

{% block id %}manual{% endblock %}
{% block article %}
<section id="navigation">
	<h3>Navigation</h3>
	<a href="/">Main Page</a> | <a href="/gallery">Gallery</a>
</section>

<section id="notes">
	<h3>Misc Notes</h3>
	Do try and make your avatar sets recognisably yours; people use the
	avatars as a quick and easy way to see who's who, and if you have
	hundreds of unrelated avatars the purpose is lost. Keeping to a theme
	is good, eg I have random scenes with my character from the lego avatar
	generator edited in -- They're all different, but they're recognisably
	mine because of the common character.
</section>

<section id="control">
	<h3>The Control Panel</h3>
	<p>The uploader should accept gif, jpg and png images; for some reason the
	image library doesn't seem to recognise some animated gifs as valid
	images. So far some animated gifs and all static ones work, I'm not sure
	what's different about the animated ones that don't...

	<p>Probably the only thing that isn't immediately blindingly obvious about the
	interface is the "toggle use" function -- avatars with "use: yes" will be
	included in the random choice, ones with "use: no" not -- this allows you
	to keep some avatars uploaded but only enable them for special occasions,
	eg christmas / easter / pirate themed variations.
</section>

<section id="tnc">
	<h3>Terms and Conditions</h3>
	No blatant porn
</section>
{% endblock %}