{% extends "_standard.html" %}
{% from '_funcs.html' import avatar_table, avatar_to_td_edit %}

{% block id %}user{% endblock %}
{% block article %}
<section id="navigation">
	<h3>Navigation</h3>
	<p>Link to avatar:
	<a href="https://rav.shishnet.org/{{ user.username }}.png">https://rav.shishnet.org/{{ user.username }}.png</a>
	<br>Link to gallery:
	<a href="https://rav.shishnet.org/{{ user.username }}.html">https://rav.shishnet.org/{{ user.username }}.html</a>
	</p>
	<p><a href="/">Main Page</a> | <a href="logout">Log Out</a></p>
</section>

<section id="upload">
	<h3>Upload</h3>
	<form enctype='multipart/form-data' action='upload' method='POST'>
		<input name='avatar_data' type='file'>
		<input type='submit' value='Upload'>
	</form>
</section>

<section id="settings">
	<h3>Settings</h3>
	<form action="settings" method="POST">
		<table class="form">
			<tr>
				<td>Gallery message:</td>
				<td><textarea name="message" rows="4" cols="50">{{ user.message }}</textarea></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" name="email" value="{{ user.email }}"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Set"></td>
			</td>
		</table>
	</form>
</section>

<section id="avatars">
	<h3>Avatars</h3>
	{{ avatar_table(user.avatars, avatar_to_td_edit) }}
</section>
{% endblock %}