* {box-sizing: border-box;}
BODY {background: #EEE;}

HEADER, ARTICLE, FOOTER {
	margin: auto;
	max-width: 1000px;
}

H1 {margin-top: 0px;margin-bottom: 0px;}
H2 {margin-top: 32px;}

H1, H2, H3, FOOTER {
	text-align: center;
	border: 1px solid #BBB;
	background: #DDD;
	border-radius: 12px;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	padding: 0.2em;
}
FOOTER {
	margin-top: 1em;
	font-size: 0.75em;
	padding: 0.5em;
}

ARTICLE {
	display: grid;
	column-gap: 1em;
}
SECTION {text-align: center;}
SECTION#navigation {grid-area: navigation;}

ARTICLE#index {
	grid-template:
		"navigation examples" auto
		"login      examples" auto
		"create     examples" auto
		".          examples" auto
		/ 250px auto;
}
SECTION#login {grid-area: login;}
SECTION#create {grid-area: create;}
SECTION#examples {grid-area: examples;}

ARTICLE#user {
	grid-template:
		"navigation settings" auto
		"upload     settings" auto
		"avatars    avatars " auto
		/ 1fr 1fr;
}
SECTION#upload {grid-area: upload;}
SECTION#settings {grid-area: settings;}
SECTION#avatars {grid-area: avatars;}

ARTICLE#manual {
	grid-template:
		"navigation notes" auto
		".          control" auto
		".          tnc" auto
		/ 250px auto;
}
SECTION#notes {grid-area: notes;}
SECTION#control {grid-area: control;}
SECTION#tnc {grid-area: tnc;}

ARTICLE#gallery_list {
	grid-template:
		"navigation new" auto
		"list       new" auto
		".          new" auto
		".          random" auto
		/ 250px auto;
}
SECTION#list {grid-area: list;}
SECTION#new {grid-area: new;}
SECTION#navigation {grid-area: navigation;}
SECTION#random {grid-area: random;}

ARTICLE#gallery {
	grid-template:
		"navigation message stats" auto
		"avatars avatars avatars" auto
		/ 1fr 1fr 1fr;
}
SECTION#message {grid-area: message;}
SECTION#stats {grid-area: stats;}
SECTION#avatars {grid-area: avatars;}

#login TD {
	text-align: center;
}
#login INPUT {
	width: 100%;
}
.form INPUT {
	width: 100%;
}

.avatars {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.avatars .avatar {
	//border: 1px solid black;
	text-align: center;
	font-size: 0.8em;
	width: 160px;
	padding: 8px;
}
.avatars .avatar IMG {
	max-width: 100%;
	max-height: 100%;
}
.avatars .avatar.enabled {}
.avatars .avatar.disabled {background: #CCC;}
