<div class="left">
	<h3>Misc Notes</h3>
	<p>Do try and make your avatar sets recognisably yours; people use the
	avatars as a quick and easy way to see who's who, and if you have
	hundreds of unrelated avatars the purpose is lost. Keeping to a theme
	is good, eg I have random scenes with my character from the lego avatar
	generator edited in -- They're all different, but they're recognisably
	mine because of the common character.</p>

	<h3>The Control Panel</h3>
	<p>The uploader should accept gif, jpg and png images; for some reason the
	image library doesn't seem to recognise some animated gifs as valid
	images. So far some animated gifs and all static ones work, I'm not sure
	what's different about the animated ones that don't...

	<p>Probably the only thing that isn't immediately blindingly obvious about the
	interface is the "toggle use" function -- avatars with "use: yes" will be
	included in the random choice, ones with "use: no" not -- this allows you
	to keep some avatars uploaded but only enable them for special occasions,
	eg christmas / easter / pirate themed variations.
</div>
<div class="right">
	<h3>Navigation</h3>
	<center><p><a href="/">Main Page</a> / <a href="/gallery">Gallery</a></p></center>

	<h3>Terms and Conditions</h3>
	<p>No blatant porn</p>

<!--
	<h3>Tech Info</h3>
	<p>Args are fed in via the regular HTTP GET method; first argument uses a ? to
	separate filename and arg, then the rest use &amp;, eg

	<p><code>avatar.py?user=shish
	<br>avatar.py?user=shish&amp;scale=125x125&amp;.png</code>

	<p>the &amp;.png is just to trick the forum software, which only allows links
	to files that end in png/jpg/gif

	<p>Alternatively, if you only want to set the username, there is a shortcut:

	<p><code>http://rav.shishnet.org/[username].png</code>
-->
</div>
